body {
  margin: 0;
  color: #020202;
}

h1 {
  text-align: center;
}

a {
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.nav {
  text-align: center;
}

.pages > div {
  position: absolute;
  width: 100%;
}

.pages div p {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
}
